:root {
    --cube-size: 500px
}


html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #181818;
    color: white;
    display: flex;
    flex-direction: column;
    /* gap: 32px; */
    align-items: center;
}

.spacer {
    height: 100vh;
}

section {
    width: 1216px;
    display: flex;
    flex-direction: column;
    /* gap: 32px; */
}

.flex {
    display: flex;
    /* gap: 32px; */
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-content: center;
}

.container {
    min-height: 100vh;
    min-width: 500px;
    height: 100%;
    width: 100%;
    /* position: relative; */
}


#cube-container {
    width: 100%;
    /* width: var(--cube-size); */
    height: 400px;
    z-index: 999;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: flex;
    align-items: center;
}

#line-container {
    min-height: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.debug .flex .container:nth-child(1) {
    background-color: pink;
}

.debug .flex .container:nth-child(2) {
    background-color: gold;
}

.debug .flex:nth-child(2) .container:nth-child(1) {
    background-color: coral;
}

.debug .flex:nth-child(2) .container:nth-child(2) {
    background-color: cyan;
}

.debug .flex:nth-child(3) .container:nth-child(1) {
    background-color: chocolate;
    height: 400px;
    min-height: auto;
}

.debug .flex:nth-child(3) .container:nth-child(2) {
    background-color: transparent;
}
.debug .flex:nth-child(3) .container:nth-child(3) {
    background-color: blue;
    min-height: 200px;
    height: 200px;
}

#graph-container {
    border-radius: 16px;
}
