:root {
    --cube-size: 500px
}


html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #181818;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.spacer {
    height: 75vh;
}

section {
   width: 1216px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.flex {
    display: flex;
    gap: 32px;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-content: center;
}

.container {
    min-height: 100vh;
    min-width: 500px;
    height: 100%;
    width: 100%;
}


#cube-container {
    width: 100% !important;
    height: var(--cube-size);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.debug .flex .container:nth-child(1) {
    background-color: pink;
}

.debug .flex .container:nth-child(2) {
    background-color: gold;
}

.debug .flex:nth-child(2) .container:nth-child(1) {
    background-color: coral;
}

.debug .flex:nth-child(2) .container:nth-child(2) {
    background-color: cyan;
}

.debug .flex:nth-child(3) .container:nth-child(1) {
    background-color: chocolate;
}

.debug .flex:nth-child(3) .container:nth-child(2) {
    background-color: blue;
}


/* #cube-container {
    width: 500px;
    height: 500px;
} */